*{margin: 0; padding: 0; font-size: 1em; font-family: Arial, Helvetica, sans-serif}

#topo{
    width: 100%;
    height: 10%;
    text-align: center;
    color:cadetblue;
}   

h1{font-size: 2em}

h2{font-size: 1.5em; margin-top: -1%}

h3{font-size: 1.2em;}

#caixa{
    width: 50%;
    height: 50%;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 2%;
    background-color: rgb(194, 242, 248);
}

#texto{
    width: 100%;
    color: rgb(49, 143, 146);
    padding: 1.5%;
    margin: 0 auto;
    text-align: center;
}

label{
    color: rgb(49, 143, 146);
    font-weight: bolder;
}

#peso, #altura{
    height: 12%;
    color: rgb(42, 88, 90);
    font-size: 1.5em;
    text-align: center;
}

button{
    width: 38.5%;
    height: 14%;
    border-radius: 5px;
    font-size: 1.5em;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: cadetblue;
}

#imc{
    width: 38.5%;
    height: 15%;
    border-radius: 3px;
    color: darkred;
    font-size: 2em;
    text-align: center;
    font-style: italic;
}

#botao:hover{background-color: rgb(141, 15, 15)}   

img{margin-left: 5%; margin-top: -23.5%}

#contato{
    width: 15%;
    margin-left: 2%;
    margin-top: -18.5%;
    font-size: 0.7em;
    color: rgb(42, 88, 90);
    text-align: center;
}

#rodape{
    margin-top: 5%;
    font-size: 0.7em;
    line-height: 25px;
    text-align: center;
    width: 100%;
    height: 7%;
    background-color: rgb(42, 88, 90);
    color: white;
}

#resultado{
    margin: 0 auto;
    margin-top: 20%;
    width: 30%;
    line-height: 30px;
    height: 10%;
    border-radius: 5px;
    background-color: rgb(228, 238, 240);
    border: 1px solid lightgray;
    text-align: center;
    font-size: 1.3em;
}