#principal{
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    height: 45%;
    margin: 0 auto;
    margin-top: -5%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: rgb(195, 216, 240);
}

h1{
    color: rgb(8, 72, 109);
    margin-top: 1%;
    text-shadow: 2px 1px 1px white;
    text-align: center;
    font-size: 1.7em;
}

#photo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-image: url("../img/Eu.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#matricula_aluno{
    float: right;
    color: red;
    margin-right: 2%;
    margin-top: -3%;
    height: 15%;
}

#dados_aluno{
    float: left;
    margin-top: -2%;
    margin-left: 1%;
}

#unidade{margin-left: 30%}

#notas_1{
    position: relative;
    margin-left: 1%;
    margin-top: 2%;
    width: 30%;
    height: 30%;
    border: 1px solid grey;
    border-radius: 5px;
}

